@import "./variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    main{
        height: 100%;
        width: 100%;
        background-color: $primary_2;
        display: grid;
        grid-template-columns: 15% 1fr;
        grid-template-areas: "nav main";
          
          
}}  
@mixin flexCenter($direction,$gap) {
    display: flex;
    flex-direction: $direction;
    gap:$gap + 1px;
} 
.btn{
    border:none;
    background: transparent;
    color: $primary_2;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
}
@import "./nav";