@import "./variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    main{
        height: 100%;
        width: 100%;
        background-color: $primary_2;
        display: grid;
        grid-template-columns: 10% 1fr;
        grid-template-areas: "nav main";
          
          
}}  
@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    gap:0.5rem;
} 
.btn{
    border:none;
}
@import "./nav";